@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #3561f1;
}
.navbar h1 {
  color: #3561f1;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3561f1;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0px;
  border-bottom: 1px solid #a4adca;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #3561f1;
  margin-bottom: 8px;
}
.deleteButton {
  background-color: #909bbe;
  padding: 6px;
  border-radius: 50%;
  color: red;
}
.blog-details {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #3561f1;
}
.blog-details-messages {
  margin: 30px;
}
.blog-details-input {
  margin: 10px;
}
